<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links.html"></div>
</head>
<body>
<h1>HELLO WORLD!</h1>

<div>
    <form action="/log-out" method="post">
        <button class="btn btn-sm btn-danger">LOG OUT</button>
    </form>


    <form class="mt-3" action="/change-pas" method="post">

        <input type="text" name="oldPas" class="form-control">
        <input type="text" name="newPas" class="form-control">
        <input type="text" name="reNewPas" class="form-control">

        <button class="btn btn-success btn-sm">CHANGE PASSWORD</button>
    </form>
</div>
</body>
</html>